<%- include('./includes/head') %>

<div class="container">
    <h1 class="text-secondary text-center mt-5"> 404 </h1>
    <h3 class="text-secondary text-center mt-3">Página não encontrada</h3>
</div>

<%- include('./includes/footer') %>